<%= content_for :title, 'Terms of Use' %>
<h1>Terms of Use</h1>
<p class="lead">Welcome to the FreewayPro CDN (also referred to below as the Service).</p>
<p>By using this Service, you agree to the following terms. If you don&rsquo;t agree, there are other places where you can host your content.</p>
<p>This Service is offered free of charge to the <a href="http://softpress.com">Freeway Pro</a> community, for the benefit of Action authors and other like-minded Web craftspeople, by <a href="http://walterdavisstudio.com">Walter Davis Studio</a>.</p>
<p>Any content you post here will be replicated across the global Internet in a relatively short period of time, and it will be difficult but not impossible to remove it from public view. Please consider that before posting those launch codes...</p>
<ol>
  <li>All content posted on this Service must comply with U.S. copyright law. If it isn&rsquo;t your work or property, you must have permission to post it here for all the world to see.</li>
  <li>We claim no intellectual property rights over the material you provide to the Service. Any materials uploaded remain yours.</li>
  <li>We do not pre-screen content, but Walter Davis Studio and its designees have the right (but not the obligation) in their sole discretion to refuse or remove any content that is available via the Service.</li>
</ol>
<p>This Service is provided without charge, and without any guarantee or warrantee that it will always remain on-line or that it will be useful for any purpose. Under no circumstances will Walter Davis Studio or its designees be liable for any loss or damages, financial or otherwise, under any theory or principle of legal responsibility of any sort. If you rely on this Service, that is your own decision.</p>
<address>
  <strong>Walter Davis Studio</strong><br />
  7530 Mountain Avenue<br />
  Melrose Park, PA 19027
</address>
<p><time datetime="2013-01-11">January 11, 2013</time></p>