/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

label + br {
  display: none;
}

.hint {
  font-size: smaller;
  color: #666;
  display: block;
}

hr.flat {
  border: 0;
  color: #ccc;
  background-color: #ccc;
  height: 1px;
}

#main > footer {
  padding: 20px;
  border-top: 1px solid #eee;
  margin-top: 20px;
}

#main > footer > p {
  font-size: smaller;
  text-align: center;
}